<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Lista trwających przetargów</title>
  <link rel="stylesheet" href="/style.css">
</head>
<h1>Detal przetargu: <%= tender.title %></h1>
<p><strong>Opis:</strong> <%= tender.description %></p>
<p><strong>Instytucja zamawiająca:</strong> <%= tender.institution %></p>
<p><strong>Data zakończenia przyjmowania ofert:</strong> <%= new Date(tender.endDate).toLocaleString() %></p>
<p><strong>Budżet przetargu:</strong> <%= tender.maxBudget %> PLN</p>

<h2>Oferty:</h2>

<% if (noValidOffers) { %>
  <p>Wszystkie oferty przekraczają budżet. Przetarg zakończony bez rozstrzygnięcia.</p>
<% } else { %>
  <table>
    <thead>
      <tr>
        <th>Numer oferty</th>
        <th>Nazwa oferenta</th>
        <th>Wartość oferty</th>
        <th>Data złożenia oferty</th>
      </tr>
    </thead>
    <tbody>
      <% offers.forEach((offer, index) => { %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= offer.bidderName %></td>
          <td><%= offer.offerValue %> PLN</td>
          <td><%= new Date(offer.submittedAt).toLocaleString() %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } %>

<a href="/finished-tenders">Powrót do listy zakończonych przetargów</a>
</html>